
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation</h2>
<small>Student Added Successfully</small><br />

<a href="@Url.Action("Index","Home")" class="nav-link">Go Back</a>


