@model Student_Management.Models.StudentModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h3>Student Dashboard</h3>
<small>Welcome, @Model.studentName to Dashboard of SM App</small>

